.aready_invited,
.already_in_team,
.invited {
	display: none;
}
.successful{
	display: none;
}
.menu ul li {
	margin-left: 20px;
	margin-right: 20px;
	display: inline;
	float:right;
}
li,a{text-decoration: none;}
.adminnotification{
	width:40%;
	float:right;
	font-family: open sans;
	font-size: 16px;
}
.btnon{
 border-radius: 9px 0px 0px 9px;
  padding: 0px 10px 0px 10px;
  font-size: 16px;
}
button.btnoff {
  border-radius: 0px 9px 9px 0px;
   padding: 0px 10px 0px 10px;
     font-size: 16px;
}
.logo{
	width:150px;
	  margin: 10px 120px 10px 120px;
}