.maincontainer{
    /*background-color: #F1F1F1;*/
}

  .tablemain>tbody>tr>td{
    padding: 20px 10px;
  line-height: 1.42857143;
  border-top: 1px solid #ddd;
}
.tablemain tbody tr:hover{  
   background-color: #FAFAFA;
}
.tablemain{
    background: white;
}
table{
  width: 100%;
  max-width: 100%;
  background: #FDFDFD;
  border-radius: 0;
  overflow: hidden;
  margin-bottom: 41px !important;
  table-layout: fixed !important;
  padding: 25px 15px;
  font-family: open sans;
  font-weight: 400;
  font-size: 14px;
}
td{color:#555;}

.column-provider th{
  font-size: 14px;
  font-weight: 700;
  line-height: 1.3em;
  padding: 30px 15px 30px;
  text-transform: uppercase;
  color: #646464;
  white-space: nowrap;
}

.column-provider {
  border: transparent !important;
  border-spacing: 0 !important;
  box-shadow: none !important;
  outline: none !important;
  vertical-align: middle;
  margin: 0 !important;
  padding: 25px 15px;
  border-collapse: collapse !important;
  font-size: 14px;
  line-height: 1.35em;
  letter-spacing: 0.35px;
  color: #757575;
}
span{
  margin-right: 10px;
}
.img{
  padding:5px 5px !important;
  width: 80px;
  text-align: center;
}
.column-provider .status-col {
  width: 110px;
}
.status-col{
  text-align: center;
}
.manage-column{
  font-weight: 700;
}