@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700);
@.aready_invited,
.already_in_team,
.invited {
    display: none;
}
.alert-info,
.alert-danger {
    display: none;
}
.wrapper {
    width: 100%;
    display: block;
    height: 100vh;
}
/*##### Home page css ###*/

.logo {
    width: 150px;
}
.subcontainer {
    width: 500px;
}
h2 {
    font-family: arial;
}
.row>h2{
    text-align: center;
}
.headings {
    padding: 10px 0;
}
h4 {
    padding: 10px 0;
}
/*### Login page css ####*/

.container.index {
    width: 30%;
    border-radius: 5px;
    margin-top: 50px;
    background-color: #7998B7;
}
.login-heading h1 {
    text-align: center;
    font-weight: 700;
}
.login-heading li.section1 {
    float: left;
    list-style: none;
}
.login-heading li.section2 {
    float: right;
    list-style: none;
}
.login-index {
    /*background-image: url('../../admin/slack-large.png');*/
    
    background: #f5f5f5;
}
.submitbutton {
    padding: 10px 15px;
}
.custom-submitbtn {
    width: 100%;
    background-color: #337ab7;
    border-color: #2e6da4;
    color: #ffffff;
}
.custom-submitbtn:hover {
    background-color: #2e6da4;
    border-color: #337ab7;
    color: #fff;
}
.full-contain {
    padding: 0 16px;
}
.control-label {
    padding-left: 15px;
    padding-bottom: 10px;
}
.fa-user-plus:before {
    content: "\f234";
    color: #fff;
    margin-left: 10px;
}
/* ============================================================
  TOGGLE COMMON BUTTON
============================================================ */
.switch {
    bottom: -95px;
    position: relative;
    margin-left: 20px;
}
.switch span {
    float: right;
    margin-right: 180px;
    margin-bottom: 34px;
    font-size: 16px;
    font-weight: 500;
}
.cmn-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}
.cmn-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.full-width {
    width: 33%;
    margin: 30px auto;
}

/* ============================================================
  SWITCH 1 - ROUND
============================================================ */
input.cmn-toggle-round + label {
  padding: 2px;
  width: 50px;
  height: 22px;
  background-color: #dddddd;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  border-radius: 60px;
}
input.cmn-toggle-round + label:before, input.cmn-toggle-round + label:after {
  display: block;
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 1px;
  content: "";
}
input.cmn-toggle-round + label:before {
  right: 1px;
  background-color: #f1f1f1;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  border-radius: 60px;
  -webkit-transition: background 0.4s;
  -moz-transition: background 0.4s;
  -o-transition: background 0.4s;
  transition: background 0.4s;
}
input.cmn-toggle-round + label:after {
  width: 20px;
  background-color: #fff;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  -webkit-transition: margin 0.4s;
  -moz-transition: margin 0.4s;
  -o-transition: margin 0.4s;
  transition: margin 0.4s;
}
input.cmn-toggle-round:checked + label:before {
  background-color: #5C90D2 ;
}
input.cmn-toggle-round:checked + label:after {
  margin-left: 28px;
}
/*end toggle*/

textarea.form-control {
    height: 40px;
    border-right-color: #fff;
    border-top-color: #fff;
    border-left-color: #fff;
    box-shadow: none !important;
    margin-bottom: 27px;
}
textarea.form-control:focus {
    outline:0;
    border-color: transparent;
    border-bottom:1px solid #CCCCCC;
}

/*Login Page by anil*/

.login-index .full-width {
    width: 31%;
    margin: auto;
    padding-top: 10px;
    font-family: 'Source Sans Pro', sans-serif;
}
.bg-primary {
    background-color: #5c90d2;
    width: 100%;
    height: 47px;
}
.block-options {
    float: right;
    margin: -3px 0 -3px 15px;
    padding: 0;
    height: 24px;
    list-style: none;
    padding: 15px 20px;
    color: #fff;
    font-size: 15px;
}
.block-title {
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1.2;
    padding: 15px 20px;
}
.block-content.block-content-narrow {
    padding-left: 10%;
    padding-right: 10%;
}
.block-content.block-content-full {
    padding: 27px 20px;
    background: #fff;
}
.form-heading {
    color: #646464;
    font-weight: 600;
    font-size: 30px;
    padding: 0 20px;
    font-family: 'Source Sans Pro', sans-serif;
}
p {
    color: #646464;
    font-size: 16px;
    line-height: 20px;
    padding: 0 20px;
    margin-bottom: 35px;
}
.form-group {
    padding: 0 20px;
}
.form-material {
    position: relative;
    margin: 10px 0 10px;
}
.form-group:first-child label {
    padding-top: 3px;
    
    color: #646464;
    font-size: 16px;
    font-weight: 500;
    pointer-events: none !important;
    cursor: text;
    z-index: 10;
    top: 0;
    transform: translateY(0px);
    transition: all .15s ease-out;
}
label.control-label {
    
    top: 73px;
    color: #646464;
    font-size: 16px;
    font-weight: 500;
    cursor: text;
    transform: translateY(0px);
    transition: all .15s ease-out;
    z-index: 10;
}
input.form-control:focus {
    box-shadow: 0 2px 0 #5c90d2;
}

.form-control:focus+label {
    transform: translateY(-24px);
}
.form-control.open {
    transform: translateY(-24px);
}

.form-control {
    width:100% !important; 
}
.form-horizontal .form-group input[type="text"] {
    position: absolute;
    border-right-color: #fff;
    border-top-color: #fff;
    border-left-color: #fff;
    box-shadow: none !important;
    margin-bottom: 27px;
    margin-left: 15px;
    padding-left: 0;
}
.form-group input[type="text"] {
    border-right-color: #fff;
    border-top-color: #fff;
    border-left-color: #fff;
    box-shadow: none !important;
    margin-bottom: 27px;
}
.form-group input[type="email"] {
    border-right-color: #fff;
    border-top-color: #fff;
    border-left-color: #fff;
    box-shadow: none !important;
    margin-bottom: 27px;
}
.form-group input[type="number"] {
    border-right-color: #fff;
    border-top-color: #fff;
    border-left-color: #fff;
    box-shadow: none !important;
    margin-bottom: 27px;
}
.form-group input[type="password"] {
    position: absolute;
    border-right-color: #fff;
    border-top-color: #fff;
    border-left-color: #fff;
    box-shadow: none !important;
    margin-bottom: 27px;
    margin-left: 15px;
    padding-left: 0;
}
label.control-label {
    padding-top: 4px !important;
    pointer-events: none !important;
}
input.login-button {
    outline: 0;
    border: 1px solid;
    color: #fff;
    background-color: #5c90d2;
    border-color: #3675c5;
    width: 91px;
    height: 35px;
    border-radius: 2px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    font-size: 16px;
    transition: all .15s ease-out;
    padding: 6px 12px;
    line-height: 1.42857143;
    text-align: left;
    margin-top: 70px;
    margin-left:15px;
}
input.login-button:hover {
    background: #3675c5;
    border-color: #204d74;
}
.si-login:before {
    content: "\f090";
}
i.fa.fa-sign-in {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    position: relative;
    top: 2px;
    -moz-osx-font-smoothing: grayscale;
    left: -32px;
    font-size: 18px;
    color: #fff;
}
@media (max-width: 768px) {
    .login-index .full-width {
        width: 99%;
        margin: auto;
        padding-top: 10px;
    }
}
/*End*/
/* ##### Home page css Ends here ###### */

.send_invitation + .tooltip > .tooltip-inner {
    background-color: #8AC007;
    color: #FFFFFF;
    border: 1px solid green;
    padding: 15px;
    font-size: 20px;
}
.send_invitation + .tooltip.top > .tooltip-arrow {
    border-top: 5px solid green;
}
.menu ul li {
    margin-left: 20px;
    margin-right: 20px;
    display: inline;
    float: right;
}
.query-menu {
    display: none;
}
.query-menu.show {
    display: block;
}
.menu {
    min-height: 70px;
    float: right;
}
li,
a {
    text-decoration: none;
}
.adminnotification {
    width: 40%;
    float: right;
    font-family: open sans;
    font-size: 16px;
}
.btnon {
    border-radius: 9px 0px 0px 9px;
    padding: 0px 10px 0px 10px;
    font-size: 16px;
}
button.btnoff {
    border-radius: 0px 9px 9px 0px;
    padding: 0px 10px 0px 10px;
    font-size: 16px;
}
.settings_headings {
    margin-top: -25px;
    margin-bottom: 20px;
}
.header {
    border-bottom: 2px double black;
    margin: 25px 0px 25px 0px;
}
.header h4 {
    font-family: vardana;
    font-size: 20px;
    font-style: oblique;
    font-weight: bolder;
}
.maincontainer {
    background-color: #F1F1F1;
    display: table;
}
.available_Notification_emails {
    /*float: left;*/
}
.subcontainerindex {
    margin: auto;
    width: 500px;
}
.fa.fa-trash-o.delete_email:hover {
    /*font-size: 25px;*/
}
i.fa.fa-trash-o {
    font-size: 20px;
}
/* ******** sidebar css********/

.addsidebar {
    width: 15%;
    background-color: #2C343F;
    height: 100%;
    display: inline-block;
    position: fixed;
}
.sidebarhead {
    color: white !important;
    padding: 10px;
    display: block;
    font-size: 18px;
    background-color: #3C434D;
    margin: 0;
}
.sidebar ul {
    margin-left: -40px;
}
.sidebar ul li {
    padding: 10px;
    width: 100%;
    margin-left: 0px;
    font-weight: 700;
    list-style: none;
}
.sidebar ul li a,
.sidebar ul li {
    color: rgba(255, 255, 255, 0.3)
}
.sidebar ul li a:hover,
.sidebar ul li:hover {
    color: white;
}
.sidebar ul li a:active {
    color: white;
}
.sidebar ul li:hover {
    background-color: black;
}
/*****  sidebar Ends  ******/

.row {
    padding-top: 20px;
}
.row h1 {
    padding-bottom: 20px;
}
.myblock.block.block-rounded.block-content {
    border-radius: 4px;
    float: left;
    width: 100%;
    padding: 20px;
}
.top-menu {
    padding: 10px;
    margin-bottom: 35px;
    right: 0;
    top: 0;
    text-align: right;
}
.subcontainer {
    display: inline-block;
    width: 100%;
    padding: 0 20px;
}
.column-provider span {} .table-form-content {
    background-color: #fff;
    box-shadow: 0 2px rgba(0, 0, 0, 0.01);
    padding: 0 20px;
}
.img img {
    width: 48px;
    height: 48px;
}
.invited-status {
    background-color: #5c90d2;
    border: 1px solid #5c90d2;
    border-radius: 2px;
    color: white;
    font-weight: 700;
    font-size: 12px;
    text-align: center;
}
.invite-status .send_invitation:hover {
    background-color: #5c90d2;
}
.invite-status .decline:hover {
    background-color: #d26a5c;
}
.declined-status {
    background-color: #d26a5c;
    border: 1px solid #d26a5c;
    border-radius: 2px;
    color: white;
    font-weight: 700;
    font-size: 12px;
}
.addsidebar.opensidebar {
    display: block;
    width: 100%;
    height: auto;
    position: relative;
}
@media screen and (max-width: 768px) {
    .addsidebar {
        /*display: block;*/
    }
    .tablemain {
        width: auto !important;
    }
}
@media screen and (max-width: 900px) {
    .tablemain >.smile-style-data tr {
        /*display: block;*/
    }
    .addsidebar {
        display: none;
    }
    .closebtn {
        color: white;
        position: absolute;
        top: 0;
        right: 10px;
        font-size: 18px;
        padding: 10px;
        background-color: grey;
    }
    .closebtn:hover {
        cursor: pointer;
    }
    .subcontainer {
        width: 100% !important;
        padding-right: 20px;
        margin-left: 0;
    }
    .query-menu {
        position: absolute;
        display: block;
        top: 10px;
        left: 20px;
        border: 1px;
        padding: 5px;
        border-radius: 3px;
        background-color: grey;
    }
    .query-menu:hover {
        background-color: white;
        cursor: pointer;
    }
}
@media (max-width: 768px) {
    .add-data-basefull-width {
        width: 100% !important;
        margin: 30px auto;
    }
}
/**Add database form css**/
.login-index-add-db-data {
 background: #F5F5F5;
}
.add-data-basefull-width {
    width: 34%;
    margin: 10px auto;
    background: #fff;
    padding-bottom: 30px;
}
.bg-primary1 {
    background-color: #5c90d2;
    width: 100%;
    height: 47px;
    font-family: sans-serif;
    color: #fff;
}
.add-data-basefull-width .form-control {
    width: 100% !important;
}
.add-data-basefull-width form {
    border:none !important;
}
.add-data-basefull-width  input.form-control:focus {
    box-shadow: none !important;
    outline: 0;
}
.add-data-basefull-width  .form-group {
margin-top: 17px;
}
#login-button {
    outline: 0;
    border: 1px solid;
    color: #fff;
    background-color: #5c90d2;
    border-color: #3675c5;
    width: 91px;
    height: 35px;
    border-radius: 2px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    font-size: 16px;
    transition: all .15s ease-out;
    height: 43px;
    line-height: 1.42857143;
    text-align: center;
}
.add-data-basefull-width  input.form-control::-webkit-input-placeholder {
    color: #333333;
}
.add-data-basefull-width  input.form-control:-moz-placeholder { /* Firefox 18- */
   color: #000000;  
}
.add-data-basefull-width  input.form-control::-moz-placeholder {  /* Firefox 19+ */
   color: #000000;  
}
.block-title-db {
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1.2;
    margin-left: 50px;
    margin-top: 1;
}
.fa-database:before {
    content: "\f1c0";
    position: relative;
    top: 17px;
    left: 25px;
}
/**end**/

/***Add admin user page css***/
.add-data-basefull-width {
    width: 33%;
    margin: 10px auto;
}
.add-data-basefull-width-error {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #eee;
    margin: 5% auto;
    padding: 10px;
    width: 60%;
}
.button.button-large {
    border: 1px solid #eee;
    border-radius: 3px;
    color: #000;
    padding: 10px;
    text-decoration: none;
}
.add-data-basefull-width p {
    margin-top: 35px;
    margin-bottom: 15px;
    width: 100%;
    text-align: left;
    font-size: 12px;
    font-family: sans-serif;
}
.block-title-user {
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1.2;
    margin-left: 50px;
    margin-top: 1;
}
.bg-primary1 .fa-user-plus:before {
    content: "\f234";
    position: relative;
    top: 15px;
    left: 15px;
}
.dashboard-block{
	background: #fff none repeat scroll 0 0;
    width: 20%;
}
.dashboard-block-title{ background: #eee none repeat scroll 0 0;
    font-size: 15px;
    font-weight: bold;
    padding: 10px;}
.dashboard-block-content{ font-size: 60px;
    padding: 25px;
    text-align: center;
}
.message {margin: 35px 10px 10px 0;}
.col-sm-6 .dataTables_filter label { text-align: left; }
.col-sm-6 .dataTables_filter { text-align: right; }
.col-sm-6 .dataTables_paginate.paging_simple_numbers{ text-align: right; }
.indx{background:#F5F5F5;}
.topindx{background:#5c90d2;margin:auto;margin-top:10px;width:44%;}
.row.subcontainerindex.indx{background:#FFF;}
.indxexcerpt{margin:15px;}
/***end***/